#note-pad {
	   height: 100px;  
}  
#note {
	  color: #5B793D;
	  font-family:  calibri;
	  font-size: 1em;
}
.clear {
	  color: #adbc9e;
	  font-family:  calibri;
	  font-size: 1em;
	  text-decoration: none;         
}