#oneout {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='');
	z-index:1000;
	position: fixed;
	top: 0px;
	right: 1px;
	width: 18px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	text-align:left;
}

#oneout_inner {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='');
	top: 400px;
	right: -250px;
	position: fixed;
	width: 230px;
	padding: 10px;
	border-style:solid;
	background: #adbc9e;
	color:#5B793D;	
	height: auto;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	text-align:left;
}

#oneout a{
	color:#5B793D;	
	text-align:left;
}
#oneout a:hover {
	color:#322826;
	text-align:left;
}
#oneout:hover {
	z-index:1000; 
	right: 250px;
	text-align:left;
}

#oneout:hover #oneout_inner {
	z-index:1000; 
	right: 0px;
	text-align:left;
}

.onetitle {
	display: block;
	writing-mode: lr-tb;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: absolute;
	right: -25px;
	top: 420px;	
	text-align:left;
}