/* Body */
html,
body {
    background-color: #e5e5e5;
    color: #29354E;
	font-size: 16px;
	font-family: 'Droid Sans', sans-serif;
}

a {
    color:#29354E;
	text-decoration: none;
}

body {	
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
    border: 0;
}

main {
	padding-top:5%;
    display: block;    
    font-size: 16px;
    background-size: contain;
    background-repeat: no-repeat;
	/* Support for old browsers */
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		-webkit-box-orient: block-axis;
		-webkit-box-direction: normal;
		-moz-box-orient: blox-axis;
		-moz-box-direction: normal;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
    /* End */
    display: flex;
    flex-flow: column;
}

ul {
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
}

.block ul {
    text-align: left;
	padding: 10px;
}

.block li:first-child {
    text-transform: uppercase;
    font-weight: bold;
	font-size: 1.25em;
	padding-bottom: 10px;
}

.block {
	display: inherit;
    /* Support for old browsers */
		-webkit-box-orient: inline-axis;
		-webkit-box-direction: normal;
		-moz-box-orient: inline-axis;
		-moz-box-direction: normal;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		-webkit-box-lines: multiple;
		-moz-box-lines: multiple;
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
    /* End */
    flex-flow: row wrap;  
    margin: 0px auto;
	width:100%;
	max-width:700px;
}

.pad{
	padding-top: 120px;
}

#block{
	border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: solid;
	border-color: #29354E;
	border-width: 2px;
	background-color: #e5e5e5;				
	height:35px;
	padding-top: 10px;
	width:125px;
	text-align:left;
	color:#29354E;
	font-family: 'Droid Sans', sans-serif;
}
	#block:hover {		
		background-color: #29354E;
		color:#e5e5e5;	
		transition: all 0.5s;
	}
